@model PilotRaceTeamModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Race.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Race.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Race.Season)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Race.Season.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Race.Circuit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Race.Circuit.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Race.Startdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Race.Startdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Race.Enddate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Race.Enddate)
        </dd>
    </dl>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Race.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>

<br>

<div>
    <a asp-action="AddTeam" asp-route-id="@Model.Race.Id">Add Team with Pilots</a>

</div>

<div>
    <h4>Teams and Pilots participating in Race @Model.Race.Name </h4>
    <form asp-action="Details" method="get">
        <div class="form-actions no-color">
            <p>
                Find by team: <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="Details">Back to Full List</a>
            </p>
        </div>
    </form>

    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayName("Team")
                </th>
                <th>
                    @Html.DisplayName("Pilot")
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.PilotRaceTeams)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Team.Name)

                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Pilot.Name)
                        @Html.DisplayFor(modelItem => item.Pilot.FirstName)
                    </td>

                    <td>
                        <a asp-action="DeletePilotRaceTeam" asp-route-PilotId="@item.PilotId" asp-route-RaceId="@item.RaceId" asp-route-TeamId="@item.TeamId">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    @{
        var prevDisabled = !Model.PilotRaceTeams.HasPreviousPage ? "disabled" : "";
        var nextDisabled = !Model.PilotRaceTeams.HasNextPage ? "disabled" : "";
    }

    <a asp-action="Details"
       asp-route-pageNumber="@(Model.PilotRaceTeams.PageIndex - 1)"
       asp-route-currentSize="@ViewData["Currentsize"]"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @prevDisabled">
        Previous
    </a>
    <a asp-action="Details"
       asp-route-pageNumber="@(Model.PilotRaceTeams.PageIndex + 1)"
       asp-route-currentSize="@ViewData["Currentsize"]"
       asp-route-currentFilter="@ViewData["CurrentFilter"]"
       class="btn btn-default @nextDisabled">
        Next
    </a>
    <form asp-action="Index" method="get">
        <div class="form-actions no-color">
            <p>
                Page size: <input type="text" name="customSize" value="@ViewData["CurrentPageSize"]" />
                <input type="submit" value="Search" class="btn btn-default" /> |
                <a asp-action="Index">Back to normal page size</a>
            </p>
        </div>
    </form>
</div>
