@model RacingApp.Core.DTO_S.RacesDTO

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Races</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Season)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Season.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Circuit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Circuit.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Startdate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Startdate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Enddate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Enddate)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
