@model RacingApp.DAL.Entities.PilotRaceTeam

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>PilotRaceTeam</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pilot)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pilot.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Race)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Race.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Team)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Team.Id)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
